<!doctype html>
<html>
    <style>
    </style>
    <head>
        <div>
         <a href="/login">Login</a>  | <a href="/blog">All Posts</a> | <a href="/newpost">New Post</a> |  <a href="/logout">Logout</a> 
        </div>
        
        {% with messages = get_flashed_messages() %}
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>